{% extends "base.html" %}
{% block content %}

<div class="card shadow">
    <div class="card-body">
        <h4 class="mb-4">
            {% if form.instance.pk %}
            Редактирование сообщения
            {% else %}
            Создание сообщения
            {% endif %}
        </h4>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Тема</label>
                {{ form.subject }}
            </div>

            <div class="mb-3">
                <label class="form-label">Текст</label>
                {{ form.body }}
            </div>

            <button class="btn btn-success">Сохранить</button>
        </form>
    </div>
</div>

{% endblock %}